.Input_font-sans__hfJp5 {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Input_font-mono__doWxe {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Input_font-serif__ktszC {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Input_fade-in__yuLbo {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Input_fade-out___XOfv {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Input_grow-up__mrfg6 {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Input_grow-down__ebnVE {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Input_scale-in__s6beQ {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Input_scale-down__2_cZa {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Input_wave__ze_pN {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Input_blink__jmGW6 {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.Input_paging__b_zM0 {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Input_paging__b_zM0 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Input_paging__b_zM0 {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Input_fade-in-70px__48LBY {
  --o: 0;
  --y: 70px;
  animation: Input_fade-in__yuLbo 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Input_fieldset__A6rcj {
  margin-bottom: 1.25rem;
}

.Input_label__CWIqo {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2rem 0 1.25rem;
}

.Input_select__eVdKK,
.Input_textarea__MKWu5,
.Input_textfield__rrboF {
  width: 100%;
  border-radius: 0.25rem;
  background-color: #fafafa;
  font-size: 1rem;
  border: 1px solid #ddd;
  transition: border-color 0.6s;
}

.Input_select__eVdKK::-moz-placeholder,
.Input_textarea__MKWu5::-moz-placeholder,
.Input_textfield__rrboF::-moz-placeholder {
  color: #9f9f9f;
}

.Input_select__eVdKK:-ms-input-placeholder,
.Input_textarea__MKWu5:-ms-input-placeholder,
.Input_textfield__rrboF:-ms-input-placeholder {
  color: #9f9f9f;
}

.Input_select__eVdKK::placeholder,
.Input_textarea__MKWu5::placeholder,
.Input_textfield__rrboF::placeholder {
  color: #9f9f9f;
}

.Input_select__eVdKK:focus,
.Input_textarea__MKWu5:focus,
.Input_textfield__rrboF:focus {
  outline: none;
  border-color: #000;
}

.Input_select__eVdKK.Input_error__5HqQS,
.Input_textarea__MKWu5.Input_error__5HqQS,
.Input_textfield__rrboF.Input_error__5HqQS {
  border-color: #d5333e;
}

.Input_select__eVdKK {
  cursor: pointer;
  padding: 1.25rem 2.75rem 1.25rem 1.25rem;
  position: relative;
  background-image: url(/images/chevron-down-red.svg);
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Input_textarea__MKWu5,
.Input_textfield__rrboF {
  padding: 1rem 1.25rem;
}

.Input_checkbox__cuH_e,
.Input_radio__nOvuB {
  grid-gap: 1.5rem;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.Input_checkbox__cuH_e label,
.Input_radio__nOvuB label {
  cursor: pointer;
  display: flex;
}

.Input_checkbox__cuH_e label > :not(:last-child),
.Input_radio__nOvuB label > :not(:last-child) {
  margin-right: 0.75rem;
}

.Input_checkbox__cuH_e .Input_icon__VQSK7,
.Input_radio__nOvuB .Input_icon__VQSK7 {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.125rem;
  height: 1.125rem;
  box-shadow: 0 0 0 0 #fff, 0 0 0 1px #cacaca;
  position: relative;
  overflow: hidden;
  transition: transform 0.25s cubic-bezier(0.8, 0.1, 0.2, 0.9);
}

.Input_checkbox__cuH_e .Input_icon__VQSK7:before,
.Input_radio__nOvuB .Input_icon__VQSK7:before {
  content: "";
  transform: scale(0);
  transition: transform 0.15s cubic-bezier(0.8, 0.1, 0.2, 0.9);
  background-color: #d5333e;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  position: absolute;
}

.Input_checkbox__cuH_e .Input_icon__VQSK7:after,
.Input_radio__nOvuB .Input_icon__VQSK7:after {
  content: "";
  width: 4px;
  height: 8px;
  margin-top: -0.125rem;
  position: absolute;
  border-right: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  transform: rotate(45deg) scale(0);
  transition: transform 0.3s cubic-bezier(0.8, 0.1, 0.2, 0.9);
}

.Input_checkbox__cuH_e
  .Input_item__zLUKO:not(.Input_checked__QMBxv):hover
  .Input_icon__VQSK7,
.Input_radio__nOvuB
  .Input_item__zLUKO:not(.Input_checked__QMBxv):hover
  .Input_icon__VQSK7 {
  transform: scale(1.15);
}

.Input_checkbox__cuH_e .Input_checked__QMBxv .Input_icon__VQSK7,
.Input_radio__nOvuB .Input_checked__QMBxv .Input_icon__VQSK7 {
  box-shadow: 0 0 0 0 #fff, 0 0 0 1px #d5333e;
}

.Input_checkbox__cuH_e .Input_checked__QMBxv .Input_icon__VQSK7:before,
.Input_radio__nOvuB .Input_checked__QMBxv .Input_icon__VQSK7:before {
  transform: scale(1);
}

.Input_checkbox__cuH_e .Input_checked__QMBxv .Input_icon__VQSK7:after,
.Input_radio__nOvuB .Input_checked__QMBxv .Input_icon__VQSK7:after {
  transform: rotate(45deg) scale(1);
}

.Input_radio__nOvuB .Input_icon__VQSK7 {
  border-radius: 50%;
}

.Input_checkbox__cuH_e .Input_icon__VQSK7 {
  border-radius: 0.25rem;
}

.Input_textarea__MKWu5 {
  resize: none;
  height: 7rem;
}

.Input_errorMsg__K7SSa {
  width: 100%;
  font-size: 0.875rem;
  color: #d5333e;
  margin-top: 0.875rem;
}

.Input_submitBtn__cZpD7 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background: #d5333e;
  border-radius: 3.5rem;
  transition: all 0.3s;
}

.Input_submitBtn__cZpD7:hover {
  transform: scale(1.05);
}

.Input_submitBtn__cZpD7 p {
  color: #fff;
  font-size: 0.875rem;
}

.Input_submitBtn__cZpD7 .Input_spinner__32aj9 {
  width: 2.25rem;
  height: 2.25rem;
  animation: Input_spin__Lb6lN 1.15s linear 0s infinite normal none running;
}

.Input_submitBtn__cZpD7 .Input_spinner__32aj9 circle {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  animation: Input_arc__YdXpQ 1.15s cubic-bezier(0.8, 0, 0.2, 1) 0s infinite
    normal none running;
}

@keyframes Input_spin__Lb6lN {
  0% {
    transform: rotate(-1turn);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes Input_arc__YdXpQ {
  0% {
    stroke-dasharray: 1, 81.6814px;
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dasharray: 69.4292px, 81.6814px;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 1, 81.6814px;
    stroke-dashoffset: -69.4292px;
  }
}

.CTAForm_font-sans__lZDTU {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.CTAForm_font-mono__a1f63 {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.CTAForm_font-serif__W0w25 {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes CTAForm_fade-in__J1RoG {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes CTAForm_fade-out__5esqQ {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes CTAForm_grow-up__MOXs7 {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes CTAForm_grow-down__YIe_e {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes CTAForm_scale-in__PU_df {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes CTAForm_scale-down__YDFx5 {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes CTAForm_wave__WPQ7i {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes CTAForm_blink__oLbTe {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes CTAForm_spin__iPvs4 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.CTAForm_paging__CWhRL {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .CTAForm_paging__CWhRL {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .CTAForm_paging__CWhRL {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.CTAForm_fade-in-70px__5eJ6s {
  --o: 0;
  --y: 70px;
  animation: CTAForm_fade-in__J1RoG 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.CTAForm_root__YHKI8 {
  background-color: #fff;
  width: 100%;
  max-width: 42rem;
  top: 0;
  right: 0;
  z-index: 25;
  position: fixed;
  transform: translateX(100%);
  transition: transform 1.4s cubic-bezier(0.2, 1, 0.2, 1);
}

.CTAForm_root__YHKI8.CTAForm_open__ASleA {
  transform: translateX(0);
  box-shadow: 0 10px 25px 2px rgba(0, 0, 0, 0.1),
    0 10px 80px 5px rgba(0, 0, 0, 0.1);
}

.CTAForm_container__HiW8_:first-child {
  padding: 5.375rem 0 3.375rem;
  border-bottom: 1px solid #cacaca;
}

.CTAForm_container__HiW8_:last-child {
  padding-bottom: 9.375rem;
}

.CTAForm_content__XF7_K {
  width: 90%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.CTAForm_content__XF7_K legend {
  color: #d5333e;
  font-size: 0.625rem;
  font-weight: 800;
}

.CTAForm_title__mDsKs {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.CTAForm_description__nE85z {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.CTAForm_close__xdBIr {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.875rem;
  right: 1.5rem;
  z-index: 1;
  position: fixed;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.6, 1);
}

.CTAForm_close__xdBIr:hover {
  transform: scale(1.15);
}

.Image_font-sans__ZYA1z {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Image_font-mono__97LyD {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Image_font-serif__cGYN4 {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Image_fade-in__DGtJH {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Image_fade-out__0mko6 {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Image_grow-up__jvHQc {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Image_grow-down__LsWg_ {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Image_scale-in__noi_D {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Image_scale-down__YzhQI {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Image_wave__C5qsc {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Image_blink__HUQOc {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Image_spin__cgEKW {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Image_paging__va5ne {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Image_paging__va5ne {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Image_paging__va5ne {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Image_fade-in-70px__abw6z {
  --o: 0;
  --y: 70px;
  animation: Image_fade-in__DGtJH 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Image_root__VzzFW {
  opacity: 0;
  -o-object-position: center;
  object-position: center;
  transition: opacity 0.5s linear;
}

.Image_fill__IJ_02 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.Image_loaded__ec6d3 {
  opacity: 1;
}

.Socials_font-sans__1PShL {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Socials_font-mono__Ja3Om {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Socials_font-serif__6Uecb {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Socials_fade-in__spgor {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Socials_fade-out__b8DdI {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Socials_grow-up__SkCIX {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Socials_grow-down__q1Dk6 {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Socials_scale-in__6iIH4 {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Socials_scale-down__EgR0o {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Socials_wave__JNmc_ {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Socials_blink__URjuY {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Socials_spin__mHh2H {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Socials_paging__WMy4O {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Socials_paging__WMy4O {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Socials_paging__WMy4O {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Socials_fade-in-70px__0aU4K {
  --o: 0;
  --y: 70px;
  animation: Socials_fade-in__spgor 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Socials_list__SGGW4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 40px;
}

.Socials_item__bs_2_ {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

.Socials_item__bs_2_ img {
  width: 1.5rem;
  height: 1.5rem;
}

.Footer_font-sans__xijbP {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Footer_font-mono___a4m_ {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Footer_font-serif__03c1T {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Footer_fade-in__FrikT {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Footer_fade-out__a_YBJ {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Footer_grow-up__sYmHm {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Footer_grow-down__a5SvW {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Footer_scale-in__qplHv {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Footer_scale-down__DqD61 {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Footer_wave__Z2Qp_ {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Footer_blink__AOH70 {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Footer_spin__WZoXd {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Footer_paging__y0G9y {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Footer_paging__y0G9y {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Footer_paging__y0G9y {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Footer_fade-in-70px__cqILE {
  --o: 0;
  --y: 70px;
  animation: Footer_fade-in__FrikT 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Footer_root__bLEQG {
  background-color: #fafafa;
  padding: 3.5rem 1.25rem;
}

.Footer_root__bLEQG > :first-child,
.Footer_root__bLEQG > :nth-child(2) {
  margin-bottom: 2rem;
}

.Footer_root__bLEQG > :nth-child(3) {
  margin-bottom: 1.25rem;
}

.Footer_root__bLEQG h4 {
  color: #d5333e;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}

.Footer_list__ponMN > :not(:last-child) {
  border-bottom: 1px solid #000;
}

.Footer_item__XZgBn {
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Footer_title__mttmk {
  transition: all 1.25s cubic-bezier(0.2, 0.6, 0.4, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.Footer_title__mttmk > :not(:last-child) {
  margin-right: 1.25rem;
}

.Footer_desc__d1y7s {
  font-size: 0.875rem;
}

.Footer_item__XZgBn:hover .Footer_title__mttmk {
  color: #d5333e;
}

.Footer_copyright__i4q12 {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 2rem;
}

.Footer_copyright__i4q12 > :not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .Footer_copyright__i4q12 {
    font-size: 0.875rem;
    margin-top: 2.5rem;
  }
  .Footer_copyright__i4q12 > :not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Footer_root__bLEQG {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .Footer_root__bLEQG > :first-child,
  .Footer_root__bLEQG > :nth-child(2) {
    margin-bottom: 3.75rem;
  }
  .Footer_root__bLEQG > :nth-child(3) {
    margin-bottom: 2.5rem;
  }
  .Footer_list__ponMN {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }
  .Footer_list__ponMN > :not(:last-child) {
    border-right: 1px solid #000;
    border-bottom: 0;
  }
  .Footer_item__XZgBn {
    padding: 1.25rem 2.5rem;
  }
}

.MenuButton_font-sans__UgK74 {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.MenuButton_font-mono__u0_Bm {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.MenuButton_font-serif__Zlrxv {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes MenuButton_fade-in__FYCw4 {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes MenuButton_fade-out__yj4Ga {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes MenuButton_grow-up__nP1Pj {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes MenuButton_grow-down__GPSXp {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes MenuButton_scale-in__k5IHa {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes MenuButton_scale-down__qsV1M {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes MenuButton_wave__v6S_0 {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes MenuButton_blink__H7FhT {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes MenuButton_spin__rqIRI {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.MenuButton_paging__aqwsl {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .MenuButton_paging__aqwsl {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .MenuButton_paging__aqwsl {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.MenuButton_fade-in-70px__7WPjN {
  --o: 0;
  --y: 70px;
  animation: MenuButton_fade-in__FYCw4 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.MenuButton_root__f2Fr5 {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1150px) {
  .MenuButton_root__f2Fr5 {
    display: none;
  }
}

.MenuButton_circle__hhyv2 {
  border-radius: 50%;
  background-color: #3c2837;
  width: 2.5rem;
  min-width: 0;
  height: 2.5rem;
  min-height: 0;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.2, 1, 0.2, 1) 0s;
}

.MenuButton_list__I23tY {
  width: 0.75rem;
  height: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

.MenuButton_list__I23tY li {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transition: transform 0.5s, top 0.75s, left 0.75s, width 0.75s;
}

.MenuButton_list__I23tY li:first-child {
  top: 0;
}

.MenuButton_list__I23tY li:nth-child(2),
.MenuButton_list__I23tY li:nth-child(3) {
  top: 50%;
}

.MenuButton_list__I23tY li:nth-child(4) {
  top: 100%;
}

.MenuButton_active__4E13z .MenuButton_circle__hhyv2 {
  width: 200vh;
  min-width: 220vw;
  height: 200vh;
  min-height: 220vw;
}

.MenuButton_active__4E13z .MenuButton_list__I23tY li:first-child,
.MenuButton_active__4E13z .MenuButton_list__I23tY li:nth-child(4) {
  top: 50%;
  width: 0;
}

.MenuButton_active__4E13z .MenuButton_list__I23tY li:nth-child(2) {
  transform: rotate(45deg);
}

.MenuButton_active__4E13z .MenuButton_list__I23tY li:nth-child(3) {
  transform: rotate(-45deg);
}

.Header_font-sans___wPS7 {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Header_font-mono__RX_gS {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Header_font-serif__1fF4i {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Header_fade-in__lbl_T {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Header_fade-out___MZ_e {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Header_grow-up__zPwbl {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Header_grow-down__jaBlx {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Header_scale-in__eBejN {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Header_scale-down__xFh_G {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Header_wave__tEgN7 {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Header_blink__zJZYL {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Header_spin__XNQtS {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Header_paging__0Rx2r {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Header_paging__0Rx2r {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Header_paging__0Rx2r {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Header_fade-in-70px__jIC1A {
  --o: 0;
  --y: 70px;
  animation: Header_fade-in__lbl_T 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Header_root__fhVZb {
  --o: 0;
  --y: -10px;
  animation: Header_fade-in__lbl_T 0.75s 0.3s both;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.125rem;
  z-index: 10;
  position: relative;
}

@media only screen and (min-width: 1150px) {
  .Header_root__fhVZb {
    color: #1f1f1f;
    padding-top: 2.375rem;
  }
}

@media only screen and (min-width: 1440px) {
  .Header_root__fhVZb {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

.Header_home__1oy9x {
  color: #fff !important;
  position: absolute;
}

.Header_logo__N8kQj {
  display: flex;
  width: 8rem;
}

.Header_logo__N8kQj svg {
  width: 100%;
}

@media only screen and (min-width: 1150px) {
  .Header_logo__N8kQj {
    width: 10rem;
  }
}

.Header_links__gFc6C {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1150px) {
  .Header_links__gFc6C {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: absolute;
  }
}

.Header_links__gFc6C.Header_open__Ju9C6 {
  display: flex;
}

.Header_list__0o9Kf {
  font-size: 1.5rem;
}

.Header_list__0o9Kf > :not(:last-child) {
  margin-bottom: 1.75rem;
}

@media only screen and (min-width: 1150px) {
  .Header_list__0o9Kf {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
  }
  .Header_list__0o9Kf > :not(:last-child) {
    margin-right: 2.25rem;
    margin-bottom: 0;
  }
}

.Header_list__0o9Kf li {
  text-align: center;
  font-weight: 700;
}

@media only screen and (min-width: 1150px) {
  .Header_list__0o9Kf li {
    font-weight: 400;
  }
  .Header_list__0o9Kf li.Header_active__jN6Pu {
    font-weight: 700;
  }
  .Header_list__0o9Kf li:last-child {
    display: none;
  }
  .Header_list__0o9Kf li:nth-child(7) {
    margin-right: 0;
  }
}

.Header_list__0o9Kf li * {
  cursor: pointer;
  display: inline-block;
}

@media only screen and (max-width: 1150px) {
  .Header_list__0o9Kf li {
    overflow-y: hidden;
  }
  .Header_open__Ju9C6 .Header_list__0o9Kf li * {
    transform-origin: 0;
    animation: Header_link-item-fade-in__p514j 1.25s
      cubic-bezier(0.2, 1, 0.2, 1) 0.1s both;
  }
}

.Header_list__0o9Kf li a {
  position: relative;
}

@media only screen and (min-width: 1150px) {
  .Header_list__0o9Kf li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    margin-top: 0.25rem;
    transition: width 0.5s cubic-bezier(0.4, 0.6, 0.6, 1);
  }
  .Header_list__0o9Kf li a:hover:after {
    width: 100%;
  }
}

.Header_list__0o9Kf li button {
  color: #fff;
}

@media only screen and (min-width: 1150px) {
  .Header_list__0o9Kf li button {
    cursor: pointer;
    border-radius: 5rem;
    background-color: #3c2837;
    padding: 1rem 1.25rem;
    transition: transform 0.3s cubic-bezier(0.4, 0.6, 0.6, 1);
  }
  .Header_list__0o9Kf li button:hover {
    transform: scale(1.05);
  }
}

.Header_socials__Np6Mj {
  margin-top: 2rem;
}

@media only screen and (min-width: 1150px) {
  .Header_socials__Np6Mj {
    display: none;
  }
}

.Header_socials__Np6Mj img {
  filter: invert(1);
}

.Header_open__Ju9C6 .Header_socials__Np6Mj {
  --o: 0;
  animation: Header_fade-in__lbl_T 1.5s cubic-bezier(0.2, 1, 0.2, 1) 0.5s both;
}

@keyframes Header_link-item-fade-in__p514j {
  0% {
    transform: skewY(40deg) translateY(50px);
  }
  to {
    transform: skewY(0) translate(0);
  }
}

@keyframes Header_margin-fade-in__bHUgF {
  0% {
    margin-top: -100px;
  }
  to {
    margin-top: 0;
  }
}

.PageTransition_font-sans__wRlmK {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.PageTransition_font-mono__apCsr {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.PageTransition_font-serif__B3LYX {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes PageTransition_fade-in__HWXis {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes PageTransition_fade-out__I1smd {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes PageTransition_grow-up__thKrZ {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes PageTransition_grow-down__llNgB {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes PageTransition_scale-in__Ra6HQ {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes PageTransition_scale-down__Ywi9v {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes PageTransition_wave__I98Y0 {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes PageTransition_blink__zKwfy {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes PageTransition_spin__jnYQ_ {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.PageTransition_paging__DYBmY {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .PageTransition_paging__DYBmY {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .PageTransition_paging__DYBmY {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.PageTransition_fade-in-70px__3taNj {
  --o: 0;
  --y: 70px;
  animation: PageTransition_fade-in__HWXis 1.95s cubic-bezier(0.2, 1, 0.3, 1)
    0.2s backwards;
}

.PageTransition_root__mIvt3 {
  background: #fff;
  overflow-x: hidden;
  inset: 0;
  z-index: 100;
  position: fixed;
}

.PageTransition_transition__ZGtXX {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  animation: PageTransition_onboard__3QZYl 0.72s cubic-bezier(0.4, 0.1, 0.1, 1)
    0s backwards;
}

.PageTransition_transition__ZGtXX:first-child {
  background: #d5333e;
}

.PageTransition_transition__ZGtXX:last-child {
  background: #fff;
  animation-delay: 0.13s;
  animation-duration: 0.85s;
}

@keyframes PageTransition_onboard__3QZYl {
  0% {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.Success_font-sans__tIHo_ {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Success_font-mono__vNPXp {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Success_font-serif__uHcQq {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Success_fade-in__FMH2E {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Success_fade-out__vHfSS {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Success_grow-up__p06fq {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Success_grow-down__KTj19 {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Success_scale-in__xneXU {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Success_scale-down__XBHr0 {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Success_wave__9PmCA {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Success_blink__er1TE {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Success_spin__bVmjo {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Success_paging__E8P8k {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Success_paging__E8P8k {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Success_paging__E8P8k {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Success_fade-in-70px__yAp1X {
  --o: 0;
  --y: 70px;
  animation: Success_fade-in__FMH2E 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Success_root__RtlkU {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Success_card__H7lfP,
.Success_root__RtlkU {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Success_card__H7lfP {
  --o: 0;
  --y: 2.5rem;
  width: 90vw;
  height: 300px;
  border-radius: 1.6rem;
  max-width: 480px;
  background: #fff;
  flex-direction: column;
  box-shadow: 0 377px 151px rgba(0, 0, 0, 0.01),
    0 212px 127px rgba(0, 0, 0, 0.05), 0 94px 94px rgba(0, 0, 0, 0.09),
    0 24px 52px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1);
  animation: Success_fade-in__FMH2E 0.5s cubic-bezier(0.3, 0.3, 0.8, 0.8);
}

.Success_card__H7lfP h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  overflow: hidden;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-mask,
.simplebar-offset {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  z-index: -1;
}

.simplebar-height-auto-observer,
.simplebar-track {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.simplebar-track {
  z-index: 1;
  right: 0;
  bottom: 0;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.font-sans {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.paging {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .paging {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .paging {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.fade-in-70px {
  --o: 0;
  --y: 70px;
  animation: fade-in 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s backwards;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.font-sans,
body {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.font-mono {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.font-serif {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Thin"),
    url(/fonts/NeueEinstellung-Thin.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Light"),
    url(/fonts/NeueEinstellung-Light.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("Neue Einstellung Regular"), local("NeueEinstellung-Regular"),
    url(/fonts/NeueEinstellung-Regular.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Medium"),
    url(/fonts/NeueEinstellung-Medium.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-SemiBold"),
    url(/fonts/NeueEinstellung-SemiBold.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-ExtraBold"),
    url(/fonts/NeueEinstellung-ExtraBold.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Black"),
    url(/fonts/NeueEinstellung-Black.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@keyframes fade-in {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes grow-up {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes grow-down {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes scale-in {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-down {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes wave {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes blink {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.banner,
.paging {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .banner,
  .paging {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .banner,
  .paging {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.banner .description,
.banner .title,
.fade-in-70px {
  --o: 0;
  --y: 70px;
  animation: fade-in 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s backwards;
}

* {
  font: inherit;
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  line-height: 1.25;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: unset;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: hsla(0, 0%, 79%, 0.25);
}

::selection {
  color: #1f1f1f;
  background-color: hsla(0, 0%, 79%, 0.25);
}

body {
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

:root {
  --x: 0;
  --y: 0;
  --o: 1;
  --header-h: 70px;
}

@media (min-width: 980px) {
  :root {
    --header-h: 100px;
  }
}

.pointer {
  cursor: pointer;
}

.w-screen {
  width: 100vw;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-red {
  color: #d5333e;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.app-root {
  position: relative;
  overflow-x: hidden;
  transition: transform 1.85s cubic-bezier(0.2, 1, 0.2, 1);
}

.app-root.slide {
  transform: translate(-10%);
  transition: transform 2s cubic-bezier(0.2, 1, 0.2, 1);
}

.banner {
  margin-top: 3.75rem;
  margin-bottom: 1.875rem;
}

.banner > :not(:last-child) {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .banner {
    margin-top: 9.5rem;
    margin-bottom: 3.125rem;
  }
}

.banner .title {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
}

@media only screen and (min-width: 768px) {
  .banner .title {
    font-size: 4rem;
  }
}

.banner .title span {
  color: #d5333e;
}

.banner .description {
  animation-delay: 0.5s;
  line-height: 1.5;
  max-width: 40rem;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 1150px) {
  .section-title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.animate-arrow svg {
  transition: transform 1.25s cubic-bezier(0.2, 0.6, 0.4, 1);
}

.animate-arrow:hover svg {
  transform: translateX(0.75rem);
}

.simplebar-scrollbar:before {
  cursor: pointer !important;
}

[data-simplebar] {
  max-height: 100vh;
}
