.Featured_font-sans__HXLcI {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Featured_font-mono__YM0HD {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Featured_font-serif__etoWj {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Featured_fade-in__B0Cqq {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Featured_fade-out__nt4Pf {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Featured_grow-up__acMvB {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Featured_grow-down__hbRzM {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Featured_scale-in__Ev_lO {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Featured_scale-down__8WfGI {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Featured_wave__UA73u {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Featured_blink__BKJV_ {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Featured_spin__moSA1 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Featured_paging__A9nVc,
.Featured_root__Mvzuc {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Featured_paging__A9nVc,
  .Featured_root__Mvzuc {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Featured_paging__A9nVc,
  .Featured_root__Mvzuc {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Featured_fade-in-70px__5_C2s {
  --o: 0;
  --y: 70px;
  animation: Featured_fade-in__B0Cqq 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Featured_root__Mvzuc {
  --w: 150vw;
  --half-space: calc((var(--w) - 100vw) / 2);
  width: var(--w);
  height: var(--w);
  border-radius: 50%;
  background-color: var(--color);
  margin-left: calc(var(--half-space) * -1);
  margin-right: calc(var(--half-space) * -1);
  padding-left: var(--half-space);
  padding-right: var(--half-space);
  position: relative;
  overflow: hidden;
}

.Featured_list__CA6pf {
  transform: translateX(calc(var(--x) * var(--w)));
  transition: transform 0.5s ease;
  width: calc(var(--items) * var(--w));
  height: 100%;
  display: flex;
}

.Featured_list__CA6pf li {
  width: var(--w);
  padding-right: calc(var(--half-space) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

.Featured_image__1Wzz7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Featured_image__1Wzz7 img {
  -o-object-fit: contain;
  object-fit: contain;
  width: var(--w);
  height: var(--w);
}

.Featured_content__xVIyl {
  text-align: center;
  padding-top: 3.75rem;
}

.Featured_content__xVIyl > :first-child {
  margin-bottom: 0.5rem;
}

.Featured_content__xVIyl > :nth-child(2) {
  margin-bottom: 2rem;
}

.Featured_content__xVIyl h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.Featured_content__xVIyl h4 {
  font-size: 1rem;
  font-weight: 800;
}

.Featured_content__xVIyl a,
.Featured_content__xVIyl h5,
.Featured_content__xVIyl span {
  display: none;
}

.Featured_indicator__xYCXo {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10rem;
  left: 0;
  right: 0;
  position: absolute;
}

.Featured_indicator__xYCXo > :not(:last-child) {
  margin-right: 0.5rem;
}

.Featured_indicator__xYCXo i {
  display: block;
  cursor: pointer;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #cacaca;
}

.Featured_indicator__xYCXo .Featured_active__pl2Nk {
  background-color: #d5333e;
}

@media only screen and (min-width: 768px) {
  .Featured_root__Mvzuc {
    width: 100%;
    height: unset;
    border-radius: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    overflow: visible;
  }
  .Featured_list__CA6pf {
    display: block;
    transform: none;
    width: 100%;
  }
  .Featured_list__CA6pf > :not(:last-child) {
    margin-bottom: 10rem;
  }
  .Featured_list__CA6pf li {
    gap: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
  }
  .Featured_list__CA6pf li:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .Featured_image__1Wzz7 {
    border-radius: 50%;
    background-color: var(--bg);
  }
  .Featured_image__1Wzz7 img {
    width: 45vw;
    max-width: 30rem;
    height: 45vw;
    max-height: 30rem;
    transform: scale(1.5);
  }
  .Featured_content__xVIyl {
    flex: 1 1;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
  }
  .Featured_content__xVIyl > :first-child {
    margin-bottom: 1rem;
  }
  .Featured_content__xVIyl > :nth-child(2) {
    margin-bottom: 2.5rem;
  }
  .Featured_content__xVIyl > :nth-child(3) {
    margin-bottom: 3rem;
  }
  .Featured_content__xVIyl h3 {
    font-size: 2.5rem;
  }
  .Featured_content__xVIyl h4 {
    font-size: 1.25rem;
  }
  .Featured_content__xVIyl a,
  .Featured_content__xVIyl h5 {
    display: block;
  }
  .Featured_content__xVIyl svg {
    margin-left: 0.5rem;
  }
  .Featured_content__xVIyl svg * {
    fill: #fff;
    stroke: #fff;
  }
  .Featured_content__xVIyl span {
    display: inline;
  }
  .Featured_indicator__xYCXo {
    display: none;
  }
}

@media only screen and (min-width: 1150px) {
  .Featured_image__1Wzz7 img {
    transform: scale(1.25);
  }
  .Featured_content__xVIyl {
    max-width: 35rem;
  }
  .Featured_content__xVIyl p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.Hero_font-sans__ppMQu {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Hero_font-mono__80uxH {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Hero_font-serif__qhNcC {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Hero_fade-in__k2Bbx {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Hero_fade-out__hRRCM {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Hero_grow-up__NO2TA {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Hero_grow-down__DDZ_2 {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Hero_scale-in___8VKp {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Hero_scale-down__sODET {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Hero_wave__TamtZ {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Hero_blink__75BjP {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Hero_spin__nSC8i {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Hero_paging__ukMpS {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Hero_paging__ukMpS {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Hero_paging__ukMpS {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Hero_fade-in-70px__VZ8Al {
  --o: 0;
  --y: 70px;
  animation: Hero_fade-in__k2Bbx 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Hero_root__dVdur {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 6rem;
}

.Hero_title__jQyYh span {
  display: block;
  height: 20vw;
  font-size: 20vw;
  font-weight: 800;
  line-height: 1;
  animation: Hero_header-onboard__dPFey 0.8s
    cubic-bezier(0.445, 0.74, 0.095, 1.185) backwards;
}

.Hero_title__jQyYh span:nth-child(2) {
  animation-delay: 0.1s;
}

.Hero_title__jQyYh span:nth-child(3) {
  animation-delay: 0.2s;
}

.Hero_description__x819h {
  display: flex;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.Hero_description__x819h .Hero_list__BJZV_ {
  height: 11vw;
  font-size: 4.5vw;
  font-weight: 700;
  overflow-y: hidden;
}

.Hero_description__x819h .Hero_list__BJZV_ li {
  display: none;
  position: absolute;
}

.Hero_description__x819h .Hero_list__BJZV_ li.Hero_show__Q_N5W {
  display: block;
  animation: Hero_fade-in-top__oZQVT 4s cubic-bezier(0.2, 0.6, 0.4, 1) both;
}

.Hero_description__x819h .Hero_line__jYE2T {
  display: none;
  width: 5%;
}

.Hero_description__x819h .Hero_line__jYE2T i {
  display: block;
  outline: 0.5px solid hsla(0, 0%, 100%, 0.1);
  width: 2px;
  height: 14rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.Hero_description__x819h .Hero_line__jYE2T i:after {
  content: " ";
  display: block;
  transition: top 0.75s cubic-bezier(0.2, 0.6, 0.4, 1);
  transform-origin: top;
  width: 100%;
  height: 100%;
  background-color: #d5333e;
  top: 100%;
  position: absolute;
}

.Hero_description__x819h .Hero_animate__8fRU2 i:after {
  top: 0;
  transition: top 0s;
  animation: Hero_progress__0xXFf 4s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@media only screen and (min-width: 768px) {
  .Hero_description__x819h .Hero_list__BJZV_ {
    font-size: 3.5vw;
  }
}

@media (min-width: 980px) {
  .Hero_root__dVdur {
    width: 87.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 7.5rem;
  }
  .Hero_title__jQyYh {
    width: 65%;
  }
  .Hero_title__jQyYh span {
    height: 12vw;
    font-size: 12vw;
  }
  .Hero_description__x819h {
    flex: 1 1;
    align-self: flex-end;
  }
  .Hero_description__x819h .Hero_list__BJZV_ {
    font-size: 1.5vw;
  }
  .Hero_description__x819h .Hero_line__jYE2T {
    display: block;
  }
}

@keyframes Hero_progress__0xXFf {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes Hero_top-full__aGk3w {
  to {
    top: 100%;
  }
}

@keyframes Hero_fade-in-top__oZQVT {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes Hero_header-onboard__dPFey {
  0% {
    transform: scaleY(0.01) translate3d(0, 550px, 0) skew(-10deg, -30deg);
    opacity: 0;
    transform-origin: bottom left;
  }
  to {
    transform: scaleX(1) translateZ(0) skew(0deg, 0deg);
    opacity: 1;
    transform-origin: bottom left;
  }
}

.Workflows_font-sans__0eo16 {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Workflows_font-mono___ETob {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Workflows_font-serif__s0Bcj {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@keyframes Workflows_fade-in__psh87 {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Workflows_fade-out__Kp_65 {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Workflows_grow-up__N8FCN {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Workflows_grow-down__USBFt {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Workflows_scale-in__1j2A9 {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Workflows_scale-down__XAgXm {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Workflows_wave__XadTe {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Workflows_blink__WP6f7 {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Workflows_spin__vdJZY {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Workflows_paging__fvk_K,
.Workflows_root__GHAtF {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Workflows_paging__fvk_K,
  .Workflows_root__GHAtF {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Workflows_paging__fvk_K,
  .Workflows_root__GHAtF {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Workflows_fade-in-70px__w_8cu {
  --o: 0;
  --y: 70px;
  animation: Workflows_fade-in__psh87 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Workflows_tabs__EQnFJ {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.Workflows_tabs__EQnFJ li {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.3, 0.3, 0.8, 0.8);
  opacity: 0.25;
  border-radius: 2.5rem;
  background-color: #fff;
  color: #d5333e;
  display: inline-flex;
  align-items: center;
  border: 2px solid #fff;
  padding: 0.25rem 0.75rem;
}

.Workflows_tabs__EQnFJ span {
  display: none;
  transition: all 0.25s cubic-bezier(0.3, 0.3, 0.8, 0.8);
}

.Workflows_tabs__EQnFJ button {
  flex: 1 1;
  font-size: 0.75rem;
  font-weight: 600;
}

.Workflows_tabs__EQnFJ .Workflows_active__ZfNvN {
  opacity: 1;
  background-color: #d5333e;
  color: #fff;
}

.Workflows_text__vDnBF {
  overflow-y: hidden;
}

.Workflows_text__vDnBF article {
  height: auto;
  opacity: 1;
  transition: height 0.4s ease, opacity 0.4s cubic-bezier(1, 0.005, 0.37, 1.645);
}

.Workflows_text__vDnBF article h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.75rem;
}

.Workflows_text__vDnBF article h3 {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.Workflows_text__vDnBF article h4 {
  margin-bottom: 0.75rem;
}

.Workflows_text__vDnBF .Workflows_hidden__eQee1 {
  height: 0 !important;
  opacity: 0;
}

@media only screen and (min-width: 1150px) {
  .Workflows_container__9185Y {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .Workflows_tabs__EQnFJ {
    display: block;
    width: 14rem;
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .Workflows_tabs__EQnFJ li {
    opacity: 1;
    background-color: transparent;
    margin: 0 0 1.25rem;
    padding: 0;
    border: none;
  }
  .Workflows_tabs__EQnFJ li > :not(:last-child) {
    margin-right: 1.25rem;
  }
  .Workflows_tabs__EQnFJ span {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
  }
  .Workflows_tabs__EQnFJ button {
    color: #fff;
    font-size: 1.125rem;
  }
  .Workflows_tabs__EQnFJ .Workflows_active__ZfNvN span {
    background-color: #fff;
    color: #d5333e;
  }
  .Workflows_text__vDnBF {
    flex: 1 1;
  }
}

.Workflows_articles__KLA5u h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.75rem;
}

.Workflows_articles__KLA5u h3 {
  font-weight: 600;
}

.Workflows_articles__KLA5u h4 {
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 1rem;
}

.Index_font-sans__myxFv {
  font-family: Neue Einstellung, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.Index_font-mono__F37ka {
  font-family: ui-monogap, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monogap;
}

.Index_font-serif__k2Hie {
  font-family: "DM Serif Display", ui-serif, Georgia, Cambria, Times New Roman,
    Times, serif;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Thin"),
    url(/fonts/NeueEinstellung-Thin.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Light"),
    url(/fonts/NeueEinstellung-Light.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("Neue Einstellung Regular"), local("NeueEinstellung-Regular"),
    url(/fonts/NeueEinstellung-Regular.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Medium"),
    url(/fonts/NeueEinstellung-Medium.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-SemiBold"),
    url(/fonts/NeueEinstellung-SemiBold.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-ExtraBold"),
    url(/fonts/NeueEinstellung-ExtraBold.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Einstellung;
  src: local("NeueEinstellung-Black"),
    url(/fonts/NeueEinstellung-Black.woff2) format("woff2"),
    url(/fonts/NeueEinstellung-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@keyframes Index_fade-in__OC2RI {
  0% {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Index_fade-out__SY3mc {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: var(--o);
    transform: translate(var(--x), var(--y));
  }
}

@keyframes Index_grow-up__f4pT1 {
  0% {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
}

@keyframes Index_grow-down__cBnm9 {
  0% {
    opacity: 1;
    max-width: var(--w);
    max-height: var(--h);
  }
  to {
    opacity: var(--o);
    max-width: 0;
    max-height: 0;
  }
}

@keyframes Index_scale-in__yw0i2 {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes Index_scale-down__cm1f_ {
  0% {
    opacity: var(--o);
    transform: scale(var(--s));
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes Index_wave__Kdey8 {
  50% {
    transform: rotate(25deg);
  }
}

@keyframes Index_blink__CSkSa {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes Index_spin__jHfaS {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.Index_logos__1AV04,
.Index_paging__RPNKj,
.Index_services__eZdpb {
  width: 100%;
  max-width: 1150px;
  margin: 2.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .Index_logos__1AV04,
  .Index_paging__RPNKj,
  .Index_services__eZdpb {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Index_logos__1AV04,
  .Index_paging__RPNKj,
  .Index_services__eZdpb {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

.Index_fade-in-70px__RlwKx {
  --o: 0;
  --y: 70px;
  animation: Index_fade-in__OC2RI 1.95s cubic-bezier(0.2, 1, 0.3, 1) 0.2s
    backwards;
}

.Index_main__DZLha {
  background-color: #d5333e;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.Index_logos__1AV04 ul {
  grid-gap: 2rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.Index_logos__1AV04 li {
  width: 100%;
  height: 2rem;
  position: relative;
}

.Index_services__eZdpb {
  text-align: center;
}

.Index_services__eZdpb ul {
  display: grid;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.Index_services__eZdpb .Index_image__qCPb4 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.Index_services__eZdpb .Index_image__qCPb4 img {
  -o-object-fit: contain;
  object-fit: contain;
  transform: scale(1.5);
  width: 100%;
  height: 100%;
}

.Index_services__eZdpb .Index_content__Sv2oK {
  flex: 1 1;
  margin-top: 1.25rem;
}

.Index_services__eZdpb .Index_content__Sv2oK > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.Index_services__eZdpb .Index_content__Sv2oK a {
  display: block;
  font-size: 1.25rem;
  font-weight: 800;
}

@media only screen and (min-width: 640px) {
  .Index_services__eZdpb li {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .Index_logos__1AV04 ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .Index_logos__1AV04 li {
    height: 8rem;
  }
  .Index_logos__1AV04 img {
    padding: 1.5rem 2.5rem;
  }
  .Index_services__eZdpb {
    text-align: left;
  }
  .Index_services__eZdpb ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-top: 2.5rem;
  }
  .Index_services__eZdpb .Index_content__Sv2oK {
    margin-left: 1.25rem;
    margin-top: 0;
  }
  .Index_services__eZdpb .Index_content__Sv2oK > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1150px) {
  .Index_logos__1AV04 ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .Index_logos__1AV04 li {
    height: 10rem;
  }
  .Index_services__eZdpb .Index_image__qCPb4 {
    width: 8rem;
    height: 8rem;
  }
  .Index_services__eZdpb .Index_content__Sv2oK {
    margin-left: 1.75rem;
    margin-top: 0;
  }
  .Index_services__eZdpb .Index_content__Sv2oK > :not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
